<% for(var i=0; i < movies.length; i++) { %>
    <tr>
        <td><%= i+1 %> </td>
        <td><%= movies[i].title %></td>
        <td><%= movies[i].genre %></td>
        <td><%= movies[i].director %></td>
        <td><%= movies[i].duration %></td>
        <td><%= movies[i].rating %></td>
        <td><%= movies[i].description %></td>
        <td><%= movies[i].actors %></td>
        <td><%= movies[i].added_date %></td>

        <td>
            <a href="/update-movie?id=<%= movies[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient">
                    <i class="fas fa-pencil-alt"></i> 
                </span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= movies[i]._id %> >
                <span class="text-gradient">
                    <i class="fas fa-times"></i> 
                </span>
            </a>
        </td>
    </tr>
<% } %>